

@viewport {
    width: device-width;
    zoom: 1;
}

body {
    background: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #888;
    font-size: 12px;
}

.chinese-red { 
    color: #AA381E;
}

.black { 
    color: #000000;
}

a {
    color: #AA381E;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus { color: #888; text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 20px; }

::-moz-selection { background: #AA381E; color: #fff; text-shadow: none; }
::selection { background: #AA381E; color: #fff; text-shadow: none; }



/***** Big links / buttons *****/
a.big-link-1 {
    display: inline-block;
    padding: 5px 22px;
    background: #AA381E;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-1:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-1:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    background: #AA381E;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}
a.big-link-2 i { vertical-align: middle; }

a.big-link-2:hover {
    background: #5d5d5d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-2:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3 {
    display: inline-block;
    padding: 5px 22px;
    background: #AA381E;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    line-height: 24px;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-3:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}


/***** Top menu *****/

.navbar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

ul.navbar-nav {
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
}

ul.navbar-nav li a { padding: 23px 20px; background: #fff; border-top: 5px solid #fff; color: #5d5d5d; }
ul.navbar-nav li.active a { background: #f8f8f8; border-color: #AA381E; color: #5d5d5d; }

ul.navbar-nav li a:hover, ul.navbar-nav li a:focus { background: #AA381E; border-color: #AA381E; color: #fff; outline: 0; }

.nav .open > a { background: #f8f8f8; border-color: #AA381E;color: #5d5d5d; }
.nav .open > a:hover, .nav .open > a:focus { background: #AA381E; border-color: #AA381E; color: #fff; }

ul.navbar-nav li a i { line-height: 35px; color: #aaa; }
ul.navbar-nav li a:hover i, ul.navbar-nav li a:focus i { color: #fff; }

.dropdown-menu {
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.dropdown-menu > .active > a { background: #fff; color: #5d5d5d; }
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: #f8f8f8; color: #AA381E; }

ul.navbar-nav li .dropdown-menu a { padding-top: 15px; padding-bottom: 15px; }
ul.navbar-nav li.active .dropdown-menu a { background: #fff; color: #5d5d5d; border: 0; }
ul.navbar-nav li.active .dropdown-menu a:hover, 
ul.navbar-nav li.active .dropdown-menu a:focus { background: #AA381E; color: #fff; border: 0; }

ul.navbar-nav li.active .dropdown-menu > .active > a { background: #f8f8f8; color: #AA381E; border: 0; }
ul.navbar-nav li.active .dropdown-menu > .active > a:hover, 
ul.navbar-nav li.active .dropdown-menu > .active > a:focus { background: #AA381E;color: #fff; border: 0; }

.navbar>.container .navbar-brand { margin-left: 0; }

.navbar-brand {
    width: 111px;
    height: 106px;
    background: url(../img/afy_logo.jpg) left center no-repeat;
    text-indent: -99999px;

}

/***** Slider *****/

.slider-container {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.slider {
    padding-left: 5px;
    padding-right: 5px;
}

.flexslider {
    margin-top: 45px;
    margin-bottom: 55px;
    border: 6px solid #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
}

.flexslider .slides > li {
    position: relative;
}

.flex-caption {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 95%;
    padding: 10px 20px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
    font-style: italic;
}

.flex-direction-nav a {
    width: 60px;
    height: 60px;
    padding-top: 17px;
    background: #AA381E;
    color: #fff;
    text-shadow: none;
}

.flex-direction-nav a:before { font-size: 26px; }

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { text-align: center; }


/***** Slider 2 *****/

.slider-2-container {
    padding: 180px 0;
}

.slider-2-text {
    padding: 30px 0 43px 0;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.slider-2-text h1 {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.slider-2-text p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-style: italic;
}


/***** Presentation *****/

.presentation-container {
    margin-top: 30px;
}
.presentation-container1 {
    margin-top: 10px;
}

.presentation-container h1, .presentation-container1 h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #5d5d5d;
    font-weight: bold;

}

.presentation-container p, .presentation-container1 p {
    font-size: 18px;
    font-style: italic;
}


/***** Services *****/

.services-container {
    margin-top: 10px;
}

.services-title {
    margin-top: 40px;
    background: url(../img/line.png) left center repeat-x;
}

.services-title h2 {
    width: 200px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.service {
    margin-top: 40px;
    padding: 15px 15px 20px 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #AA381E;
}

.service:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.service .service-icon {
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.service .service-icon i { vertical-align: middle; }

.service h3 {
    margin-top: 13px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.service p {
    padding-bottom: 7px;
    line-height: 24px;
}


/***** Latest work *****/

.work-container {
    margin-top: 50px;
}

.work-title {
    background: url(../img/line.png) left center repeat-x;
}
.work-title h2, .work-title h3 {
    width: 260px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}
.work-title h3 {
    font-size: 18px;
}
.work {
    margin-top: 40px;
    padding-bottom: 20px;
    background: #f8f8f8;
    border-bottom: 2px solid #AA381E;
}

.work:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.work:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.work .work-bottom {
    margin-top: 15px;
}

.work h3  {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.work p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}


/***** Testimonials *****/

.testimonials-container {
    margin-top: 50px;
    padding-bottom: 70px;
}

.testimonials-title {
    background: url(../img/line.png) left center repeat-x;
}

.testimonials-title h2 {
    width: 180px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.testimonial-list {
    margin-top: 30px;
    text-align: left;
}

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image {
    float: left;
    width: 10%;
    margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img { max-width: 64px; border: 3px solid #eaeaea; }

.testimonial-list .testimonial-text {
    float: left;
    width: 90%;
    font-size: 14px;
    line-height: 30px;
    font-style: italic;
}

.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}

.testimonial-list .nav-tabs li {
    float: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.testimonial-list .nav-tabs li a {
    width: 12px;
    height: 12px;
    padding: 0;
    background: #eaeaea;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #ddd; }
.testimonial-list .nav-tabs li.active a { background: #AA381E; }


/***** Footer *****/

footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;
    text-align: left;
}

.footer-box h4 {
    margin-top: 20px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.footer-box-text p {
    line-height: 24px;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
    padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
    width: 95%;
    height: 26px;
}

/* Flickr feed */
.flickr-feed {
    margin: 16px 0 0 0;
}

.flickr-feed a {
    display: inline-block;
    width: 54px;
    margin: 0 4px 4px 0;
}
.flickr-feed a:hover { opacity: 0.7; }
.flickr-feed a img { border: 2px solid #eaeaea; }


.footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;
    line-height: 24px;
    text-align: left;
}

.footer-social {
    margin-top: 5px;
    text-align: right;
}
.footer-social a { margin: 0 0 0 10px; font-size: 26px; color: #888; }
.footer-social a:hover, .footer-social a:focus { color: #AA381E; }


/***** Page title *****/

.page-title-container {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    text-align: left;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.page-title-container h1 {
    display: inline;
    margin-left: 10px;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title-container p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-container i {
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}


/* ----- ABOUT PAGE ----- */

/***** About us text *****/

.about-us-container {
    margin-top: 20px;
}

.about-us-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.about-us-text h3 {
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.about-us-text p, .about-us-text div{
    line-height: 28px;
    font-size: 13px;
}
.about-us-text #about {
    font-style: italic;
}
.about-us-text  .about-div {
    font-style: italic;
    float: left;
    width: 33%;
}
.bigger1 p, .bigger1 div{
    font-size: 14px;
}


/***** Meet our team *****/

.team-container {
    margin-top: 30px;
}

.team-title {
    background: url(../img/line.png) left center repeat-x;
}

.team-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.team-box {
    margin-top: 40px;
    padding-bottom: 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #AA381E;
    
}

.team-box:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.team-box:hover {
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.team-box h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.team-box p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}

.team-social a { margin: 0 5px; font-size: 26px; }


/* ----- CONTACT PAGE ----- */

/***** Form *****/

.contact-us-container {
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.contact-us-container h3 {
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.contact-us-container p {
    line-height: 28px;
    font-size: 13px;
}

.contact-form {
    padding-top: 25px;
    padding-bottom: 30px;
}

.contact-form form {
    margin-top: 25px;
}

.contact-form form .form-group {
    margin-bottom: 20px;
}

.contact-form input[type="text"] { width: 95%; height: 34px; }
.contact-form textarea { width: 95%; height: 170px; padding-top: 6px; padding-bottom: 6px; }
.contact-form label { font-size: 13px; font-weight: 400; }
.contact-form label .error-label { font-style: italic }
.contact-form button { margin-top: 5px; padding: 0 45px; }

/***** Google map *****/

.contact-address {
    padding-bottom: 15px;
}

.contact-address .map {
    margin: 20px 0 40px 0;
    height: 350px;
    border: 5px solid #f8f8f8;
}


/* ----- SERVICES PAGE ----- */

/***** Services full width text *****/

.services-full-width-container {
    margin-top: 20px;
}

.services-full-width-text {
    padding-top: 10px;
    text-align: left;
}

.services-full-width-text h3 {
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-full-width-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Services half width text *****/

.services-half-width-container {
    margin-top: 20px;
}

.services-half-width-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.services-half-width-text h3 {
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-half-width-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Call to donation *****/

.call-to-donation-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.call-to-donation-text {
    padding-top: 25px;
    padding-bottom: 15px;
    background: #f8f8f8;
    text-align: left;
    overflow: hidden;
}

.call-to-donation-text:hover {
    -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.call-to-donation-text p {
    float: left;
    width: 80%;
    padding-left: 25px;
    line-height: 30px;
    font-size: 18px;
    font-style: italic;
}

.call-to-donation-text .call-to-donation-button {
    float: left;
    width: 20%;
    padding-right: 25px;
    margin-bottom: 10px;
    text-align: right;
}


/* ----- PORTFOLIO PAGE ----- */

.portfolio-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.portfolio-filters {
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-filters a { color: #5d5d5d; }
.portfolio-filters a:hover, .portfolio-filters a.active { color: #AA381E; }

.portfolio-box {
    width: 255px;
    margin: 40px 15px 0 15px;
}

.portfolio-box img {
    cursor: pointer;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box:hover img { opacity: 0.7; }

.portfolio-box-container {
    position: relative;
    background: #f8f8f8;
    border-bottom: 2px solid #AA381E;
}

.portfolio-box-container:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.portfolio-box-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    padding-top: 7.5px;
    padding-left: 3px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
}

.portfolio-box-text {
    padding: 0 15px 20px 15px;
}

.portfolio-box-text h3 {
    margin-top: 20px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-box-text p {
    line-height: 24px;
    font-style: italic;
}

.ourSchoolBold b{
    color:#555555;
}
div.floatleft {
    float: left;
    clear: left;
    position: relative;
    margin: 0 .5em .5em 0;
    border: 0;
}
span.gold_ribbon{
    width: 167px;
    height: 106px;
    background: url(../img/gold_ribbon.jpg) left center no-repeat;
    text-indent: -99999px; 
}
.thumbimage {
    border: 1px solid #ccc;
    float: left;

}
.thumbinner{    
    padding: 3px !important;
    background-color: #f8f8f8;
    margin-top: 0px;
    overflow: hidden;
    float: left;
    text-align: left;
}

.textIndent p{ 
    text-indent: 50px; 
}
.no-account {
    color: #888; 
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
}
.floatright {
	float: right;
	clear: right;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
}
.textAlignLeft {
     text-align: left;
}
.textMarginLeft {
     margin-left: 30px;
}
.textFontSizeGrade {
     font-size: 17px;
}

.paymentAddress{
    border:1pt #ddd dotted;
    margin-left: 30px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.pList{
    margin-left: 30px;
    text-align: left;
    padding-left: 20px;
}
.ppForm input[type=text]{
    margin-left: -5px;
}
.ppForm img{
    margin-top: -5px;
}
.ppForm select{
    font-size: 13px;
}
.googleCal {
    background: url(../img/portfolio/AFYLogo.jpg) center center no-repeat;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.googleCal iframe{
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
}
.mv-event-container
{border-color:red;}

.dp-today-selected
{background-color:red;}

.pdfobject-container { 
    height: 400px;
}


.pdfobject-container1 { 
    height: 840px;
}
.tour{
  padding-left: 8px;
}
.underline{
    border:0;
    border-bottom: 1px;
    border-style: dotted;
    border-color: #888;
}
a.link-icon:before,a.link-icon.link-file[id]:before {
    content: "\f016"; /* generic file icon */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 20px;
    text-align: right;
    margin-right: 10px;
}
a[id$=".txt"].link-icon:before, a.link-icon.link-text[id]:before {
    content: "\f0f6"; /*Text*/
}
a[id$=".pdf"].link-icon:before,a.link-icon.link-pdf[id]:before {
    content: "\f1c1"; /*PDF*/
}
a[id$=".doc"].link-icon:before,a[id$=".docx"].link-icon:before,a.link-icon.link-word[id]:before {
    content: "\f1c2"; /*Word*/
}
a[id$=".xls"].link-icon:before,a[id$=".xlsx"].link-icon:before,a.link-icon.link-excel[id]:before {
    content: "\f1c3"; /*Excel*/
}
a[id$=".ppt"].link-icon:before,a[id$=".pptx"].link-icon:before,a.link-icon.link-powerpoint[id]:before {
    content: "\f1c4"; /*Powerpoint*/
}
a[id$=".gif"].link-icon:before,
a[id$=".jpg"].link-icon:before,
a[id$=".jpeg"].link-icon:before,
a[id$=".png"].link-icon:before,
a[id$=".bmp"].link-icon:before,
a[id$=".tif"].link-icon:before,
a.link-icon.link-image[id]:before {
    content: "\f1c5"; /*Image*/
}
a[id$=".zip"].link-icon:before,
a[id$=".zipx"].link-icon:before,
a[id$=".rar"].link-icon:before,
a[id$=".tar"].link-icon:before,
a[id$=".gz"].link-icon:before,
a[id$=".dmg"].link-icon:before,
a[id$=".iso"].link-icon:before,
a.link-icon.link-archive[id]:before {
    content: "\f1c6"; /*Archive*/
}
a[id$=".wav"].link-icon:before,
a[id$=".mp3"].link-icon:before,
a[id$=".fla"].link-icon:before,
a[id$=".flac"].link-icon:before,
a[id$=".ra"].link-icon:before,
a[id$=".rma"].link-icon:before,
a[id$=".aif"].link-icon:before,
a[id$=".aiff"].link-icon:before,
a[id$=".aa"].link-icon:before,
a[id$=".aac"].link-icon:before,
a[id$=".aax"].link-icon:before,
a[id$=".ac3"].link-icon:before,
a[id$=".au"].link-icon:before,
a[id$=".ogg"].link-icon:before,
a[id$=".avr"].link-icon:before,
a[id$=".3ga"].link-icon:before,
a[id$=".flac"].link-icon:before,
a[id$=".mid"].link-icon:before,
a[id$=".midi"].link-icon:before,
a[id$=".m4a"].link-icon:before,
a[id$=".mp4a"].link-icon:before,
a[id$=".amz"].link-icon:before,
a[id$=".mka"].link-icon:before,
a[id$=".asx"].link-icon:before,
a[id$=".pcm"].link-icon:before,
a[id$=".m3u"].link-icon:before,
a[id$=".wma"].link-icon:before,
a[id$=".xwma"].link-icon:before,
a.link-icon.link-audio[id]:before {
    content: "\f1c7"; /*Audio*/
}
a[id$=".avi"].link-icon:before,
a[id$=".mpg"].link-icon:before,
a[id$=".mp4"].link-icon:before,
a[id$=".mkv"].link-icon:before,
a[id$=".mov"].link-icon:before,
a[id$=".wmv"].link-icon:before,
a[id$=".vp6"].link-icon:before,
a[id$=".264"].link-icon:before,
a[id$=".vid"].link-icon:before,
a[id$=".rv"].link-icon:before,
a[id$=".webm"].link-icon:before,
a[id$=".swf"].link-icon:before,
a[id$=".h264"].link-icon:before,
a[id$=".flv"].link-icon:before,
a[id$=".mk3d"].link-icon:before,
a[id$=".gifv"].link-icon:before,
a[id$=".oggv"].link-icon:before,
a[id$=".3gp"].link-icon:before,
a[id$=".m4v"].link-icon:before,
a[id$=".movie"].link-icon:before,
a[id$=".divx"].link-icon:before,
a.link-icon.link-video[id]:before {
    content: "\f1c8"; /*Video*/
}
a[id$=".css"].link-icon:before,
a[id$=".js"].link-icon:before,
a[id$=".py"].link-icon:before,
a[id$=".git"].link-icon:before,
a[id$=".py"].link-icon:before,
a[id$=".cpp"].link-icon:before,
a[id$=".h"].link-icon:before,
a[id$=".ini"].link-icon:before,
a[id$=".config"].link-icon:before,
a.link-icon.link-code[id]:before {
    content: "\f1c9"; /*code*/
}
a[id$=".exe"].link-icon:before,
a[id$=".jar"].link-icon:before,
a[id$=".dll"].link-icon:before,
a[id$=".bat"].link-icon:before,
a[id$=".pl"].link-icon:before,
a[id$=".scr"].link-icon:before,
a[id$=".msi"].link-icon:before,
a[id$=".app"].link-icon:before,
a[id$=".deb"].link-icon:before,
a[id$=".apk"].link-icon:before,
a[id$=".jar"].link-icon:before,
a[id$=".vb"].link-icon:before,
a[id$=".prg"].link-icon:before,
a[id$=".sh"].link-icon:before,
a.link-icon.link-exe[id]:before {
    content: "\f085"; /*Executable*/
}

a[id$=".com"].link-icon:before,
a[id$=".net"].link-icon:before,
a[id$=".org"].link-icon:before,
a[id$=".edu"].link-icon:before,
a[id$=".gov"].link-icon:before,
a[id$=".mil"].link-icon:before,
a[id$="/"].link-icon:before,
a[id$=".html"].link-icon:before,
a[id$=".htm"].link-icon:before,
a[id$=".xhtml"].link-icon:before,
a[id$=".jhtml"].link-icon:before,
a[id$=".php"].link-icon:before,
a[id$=".php3"].link-icon:before,
a[id$=".php4"].link-icon:before,
a[id$=".php5"].link-icon:before,
a[id$=".phtml"].link-icon:before,
a[id$=".asp"].link-icon:before,
a[id$=".aspx"].link-icon:before,
a[id$=".cfm"].link-icon:before,
a[id*="?"].link-icon:before,
a[id*="#"].link-icon:before,
a.link-icon:not([id*='.']):before,
a.link-icon.link[id]:before {
    content: "\f0c1"; /*link*/
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
